<header class="columns">
  <div class="column col-md-12">
    <h1>Course Information</h1>
  </div>
  {% if page.course.meetings != nil or page.course.time != nil %}
  <div class="column col-md-6">
    <h2 class="border-bottom-0 pb-0">Course</h2>
    <ul>
      <li><strong>Number:</strong> {{page.course.number}}</li>
      <li><strong>Title:</strong> {{page.course.title}}</li>
      <li><strong>Term:</strong> {{ page.course.term }}</li>
      {% if page.course.meetings %}
        {% for meeting in page.course.meetings %}
      <li><strong>Meeting:</strong> {{ meeting.time }}, {{ meeting.location }}</li>
        {% endfor %}
      {%else%}
      <li><strong>Meeting:</strong> {{ page.course.time }}, {{ page.course.location }}</li>
      {%endif%}
    </ul>
  </div>
  {%endif%}
  <div class="column col-md-{% if page.course.meetings == nil and page.course.time == nil %}12{%else%}6{%endif%}">
    {% if page.instructors != nil %}
    <h2 class="border-bottom-0 pb-0">Instructor{% if page.instructors.size > 1 %}s{%endif%}</h2>
    <ul>
    {% for instructor in page.instructors %}
      <li><strong>Name: </strong>{{instructor.name}}</li>
      <li>
        <strong>Contact:</strong> <a href="mailto: {{ instructor.email }}">{{ instructor.email }}</a>
      </li>
      {% if instructor.office != nil %}
      <li>
        <strong>Office Hours &amp; Locations:</strong>
        <ul>
        {% for office in instructor.office %}
        <li>{{office.hours}}, {{ office.location}}</li>  
        {% endfor %}
        </ul>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% if page.course.description != nil %}
  <div class="column col-md-12">
    <h2 class="border-bottom-0 pb-0">Course Description</h2>
    <blockquote>
      {{page.course.description | markdownify}}
    </blockquote>
  </div>
  {%endif%}
</header>
